{% extends 'base.html' %}
{% block title %} Error {% endblock title %}
{% block body %}

<form style="padding: 40px;" method="POST">
    <div class="mb-4">
      <label for="exampleInputEmail1" class="form-label">Team 1</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="team1">
    </div>
    <div class="mb-4">
      <label for="exampleInputPassword1" class="form-label">Team 2</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="team2">
    </div>
    <button type="submit" class="btn btn-dark">
      Predict
    </button>
</form> 

<div style="padding : 40px;">
    {{error}}
</div>

{% endblock body %}